
cmake-build-debug/CMakeFiles/clion-log.txt
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/modules.xml
.idea/NCC.iml
.idea/vcs.xml
.idea/workspace.xml
*.cmake
*.bin
*.exe
*.c
*.make
*.internal
*.log
cmake-build-debug/CMakeFiles/Makefile2
*.includecache
*.rsp
*.a
*.obj
*.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
*.cbp
cmake-build-debug/CMakeFiles/NCC.dir/link.txt
*.check_cache
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/feature_tests.cxx

cmake-build-debug/CMakeFiles/NCC2.dir/link.txt
cmake-build-debug/CMakeFiles/Progress/1
cmake-build-debug/CMakeFiles/Progress/2
cmake-build-debug/CMakeFiles/Progress/count.txt
cmake-build-debug/CMakeFiles/Progress/4
cmake-build-debug/CMakeFiles/puzzle0.txt
cmake-build-debug/puzzle0.txt
